IMAGE=ghcr.io/hungvers/db-migrations
BOOT_IMAGE=ghcr.io/hungvers/db-bootstrap
TAG=1.0.0
MIGRATION_PATH=/home/hung/git-repo/multi-tenancy-contract/starter/test/migration
LOCAL_CLUSTER=k3s
DB_ADMIN_PASSWORD=root
MIGRATOR_PASSWORD=root
APP_PASSWORD=root
NS=test
DB_NS=db-test